DON-Simulation-Directory/Terrain/*

# Ignore all bin directories in all projects
**/bin/

# Ignore all compiled Java class files
*.class

# Ignore all temporary files
*.log
*.tmp

# Ignore Eclipse project metadata files
**/*.project
/.metadata/
